h1{
    color: #3f444a;
    font-size: 20px;
    color: #fff;
}
.logo{
    width:15%;
    display:inline-block;
}
.logo-wrapper{
    min-height: 50px;
    width: 100%;
    background-repeat: no-repeat;
}
.menu-slogan{
    width:80%;
    display:inline-block;
}
.menu-wrapper{
    background-color: #2f343d;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    border-bottom-left-radius: 130px 75px;
}

.menu{
    display:inline-block;
}
.menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding-right: 10px;
}
.menu li:first-child{
    padding-left:20px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.menu-search{
    display:inline-block;
    color: #fff;
    padding: 5px 0px 0px 50px;
}
.menu-search a{
    color: #fff;
    text-decoration: none;
}
.slogan-wrapper{
    position: relative;
    top: 7px;
    left: 35px;
    text-transform:lowercase;
    font-size: 15px;
}
.slogan-wrapper p strong{
    color:#3fbec4;
}
.navbar-default{
    background-color: #fff;
}
.navbar{
    border-bottom: 2px solid #e7e7e7;
}
.about{
    background-color:#384045;
    border-bottom: 2px solid #e7e7e7;
}
.about-text{
    color:grey;
}
.about-text a{
    color:#3fbec4;
}
